*{
    margin:0;
    padding:0;
    border:none;
}

body{
    margin:0;
    box-sizing:border-box;
   
}

footer{
  position:relative;
  
}

main{
    width:100vw;
    height:100vh;
    overflow:
    hidden;
    background:
    white;
    display:
    flex;
    flex-direction:
    column;
    justify-content:
    center;
    align-items:
    center;
}

section{
    width:100%;
    height:calc(100vh - 96px);
    display:flex;
    justify-content:center;
}

header > svg{
    height:calc(48px - 1em);
}

footer,header{
    height:48px;
    width:100%;
    display:flex;
    align-items:center;
}

.OIHA16427BNX {
  transition: background calc(1s / 60 * 15) ease-in-out;
}

.ZAA726KBD2 {
  margin-left: 6px;
}

.PXVGJA5157J {
  background: #ff7b0b;
}

#HJ927IJ9D:checked ~ #QNBC7265B .PXVGJA5157J {
  background: #08215d;
}

.NBDI62B0 {
  display: flex;
  align-items: center;
}

#UEYBNX2567N {
  width: calc((48px - 1em) * 2);
  height: calc(48px - 1em);
  box-sizing: border-box;
  border: 2px solid #c14111;
  border-radius: 100vw;
  overflow: hidden;
}

#UEYBNX2567N:hover {
  cursor: pointer;
}



#PAOJDS652 {
  width: calc(75% / 2);
  height: 75%;
  transform: translateX(20%);
  background: #eeda2e;
}

.KDBZKA9865BV {
  transition: transform calc(1s / 60 * 30) ease-in-out,background calc(1s / 60 * 15) ease-in-out;
}

.BKX2S234D72 {
  border-radius: 50%;
}

.PXVGJA5157J {
  background: #ff7b0b;
}



#HJ927IJ9D{
    display:none;
}

#HJ927IJ9D:checked ~ main #UEYBNX2567N #PAOJDS652 {
  transform: translateX(140%);
}

#HJ927IJ9D:checked ~ main #UEYBNX2567N {
  border-color: #b1e3dc;
}

#HJ927IJ9D:checked ~ main #UEYBNX2567N #NJCBIK8726B {
  transform: rotate(-20deg);
}

#HJ927IJ9D:checked ~ main .PXVGJA5157J {
  background: #08215d;
}

#HJ927IJ9D:checked ~ main {
    background:#15191e;
}

#NJCBIK8726B {
  width: 100%;
  height: 100%;
  transform-origin: -30% 100%;
  transform: rotate(-65deg);
}