#F5G00293,.KDJLI7356ND{fill:hwb(0deg 100% 0%);}#JD8273NJDZA{mask:url(#DFZHDA6265B);}.IUDJKH72jH8{fill:hwb(0deg 10% 14%);}.HDUD725LJ09{stop-color:hwb(0deg 0% 0%);}.OEI72BH8HJ{stop-color:hwb(0deg 10% 14%);}.JDUÖP86JKLK6{fill:url(#LJDFG62HK932);}.JDZU8728BHJDK{transform-origin:50px 50px;transform:scaleX(-1);}.AJKCBI7256B {fill:white;transition:fill 250ms ease-in-out;}#HJ927IJ9D:checked ~ #KJS7275S .AJKCBI7256B{fill:#10151c}.HDUD725LJ09,.OEI72BH8HJ{transition:stop-color 250ms ease-in-out;}#HJ927IJ9D:checked ~ #KJS7275S .HDUD725LJ09{stop-color:#ef4c4c;}#HJ927IJ9D:checked ~ #KJS7275S .OEI72BH8HJ{stop-color:#c62828;}#HJ927IJ9D:checked ~ #KJS7275S .IUDJKH72jH8{fill:#ef4c4c;}

#HJ927IJ9D:checked ~ main .AJKCBI7256B {
  fill: #10151c
}

#HJ927IJ9D:checked ~ main .HDUD725LJ09 {
  stop-color: #ef4c4c;
}

#HJ927IJ9D:checked ~ main .OEI72BH8HJ {
  stop-color: #c62828;
}

#HJ927IJ9D:checked ~ main .IUDJKH72jH8 {
  fill: #ef4c4c;
}