*{
    margin:0;
    padding:0;
    border:none;
}

body{
    margin:0;
    box-sizing:border-box;
   
}

main{
    width:100vw;
    height:100vh;
    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;
    background:rgb(203 230 255);
}

nav > label{
    display:flex;
    color:#15191e;
}

#HJ927IJ9D:checked ~ main nav > label{
    color:white;
}

input{
    margin-left:1em;
}

ul{
    margin:0;
}

section{
    height:90vmin;
    width:90vmin;

    position:relative;
}

#ellipse{
    height:100%;
    width:100%;

    box-sizing:border-box;
    border:1px solid blue;
    border-radius:1em;
}

nav{
    position:absolute;
    bottom:0;
    padding:1em;

    border-radius:1em;
    border:1px solid green;
    
    background:linear-gradient(to bottom,rgba(0,255,0,0.1),rgba(0,255,0,0));
    backdrop-filter:grayscale(10%);
    transition:all 250ms ease-in-out;
}

#HJ927IJ9D:checked ~ main nav{
    backdrop-filter:grayscale(100%);
}

#ellipse > ellipse{
    stroke:red;
    stroke-width:0.05px;
 
}

header{
    position:fixed;
    top:0;
    left:0;
    margin:0.5em;
}

header > svg{
    height:calc(48px - 1em);
}

footer{
    position:fixed;
    bottom:0;
    left:0;
    margin:0.5em;
}

.OIHA16427BNX {
  transition: background calc(1s / 60 * 15) ease-in-out;
}

.ZAA726KBD2 {
  margin-left: 6px;
}

.PXVGJA5157J {
  background: #ff7b0b;
}

#HJ927IJ9D:checked ~ #QNBC7265B .PXVGJA5157J {
  background: #08215d;
}

.NBDI62B0 {
  display: flex;
  align-items: center;
}

#UEYBNX2567N {
  width: calc((48px - 1em) * 2);
  height: calc(48px - 1em);
  box-sizing: border-box;
  border: 2px solid #c14111;
  border-radius: 100vw;
  overflow: hidden;
}

#UEYBNX2567N:hover {
  cursor: pointer;
}



#PAOJDS652 {
  width: calc(75% / 2);
  height: 75%;
  transform: translateX(20%);
  background: #eeda2e;
}

.KDBZKA9865BV {
  transition: transform calc(1s / 60 * 30) ease-in-out,background calc(1s / 60 * 15) ease-in-out;
}

.BKX2S234D72 {
  border-radius: 50%;
}

.PXVGJA5157J {
  background: #ff7b0b;
}



#HJ927IJ9D{
    display:none;
}

#HJ927IJ9D:checked ~ main #UEYBNX2567N #PAOJDS652 {
  transform: translateX(140%);
}

#HJ927IJ9D:checked ~ main #UEYBNX2567N {
  border-color: #b1e3dc;
}

#HJ927IJ9D:checked ~ main #UEYBNX2567N #NJCBIK8726B {
  transform: rotate(-20deg);
}

#HJ927IJ9D:checked ~ main .PXVGJA5157J {
  background: #08215d;
}

#HJ927IJ9D:checked ~ main {
    background:#15191e;
}

#NJCBIK8726B {
  width: 100%;
  height: 100%;
  transform-origin: -30% 100%;
  transform: rotate(-65deg);
}